{% extends "base.html.twig" %}
{% block title %}
    plateau
{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('app_profil') }}">page profil</a></li>
            <li><a href="{{ path('app_hopi_accueil') }}">page acceuil</a></li>
        </ul>
    </nav>
    <h1>
        Page plateau
    </h1>
{% endblock %}

